<footer>
	  <div class="social-icons">
		    
		    <a href="https://www.instagram.com/Ditmens" target="_blank">
			      <i class="fa fa-instagram"></i>
		    </a>
		    <a href="https://github.com/rickithadi" target="_blank">
			      <i class="fa fa-github-square"></i>
		    </a>
		    <a href="https://linkedin.com/in/hadi-rickit" target="_blank">
            <i class="fa fa-linkedin"></i>
        </a>
        <a href="https://stackoverflow.com/users/9112459/hadi-rickit" target="_black">
            <i class="fa fa-stack-overflow"></i>
        </a>

		    
	  </div>

	  <p class="Helvetica" style="color:black"> Made with <i class="fa fa-heart"></i> Hadi Rickit</p>

	  <!-- <div class="social-icons">
		     
		     <a href="https://www.instagram.com/Ditmens" target="_blank">
			   <i class="fa fa-instagram"></i>
		     </a>
		     <a href="https://github.com/rickithadi" target="_blank">
			   <i class="fa fa-github-square"></i>
		     </a>
		     <a href="https://linkedin.com/in/hadi-rickit" target="_blank">
         <i class="fa fa-linkedin"></i>
         </a>
         <a href="https://stackoverflow.com/users/9112459/hadi-rickit" target="_black">
         <i class="fa fa-stack-overflow"></i>
         </a>

		     
	       </div>
    -->
</footer>
