


<br>
<br>
<div class="container">

    <div class="col-md-8; text-center">
        <h1> Here is some of my work </h1>
        <div class="row">
            <div class="col-md-6 ; mx-auto">
                <br>
                <br>
             <a href="https://github.com/rickithadi" target="_blank">
                <h4 class="text-secondary">Not very well maintained but most of my code is also on  </h4>  
            <i class="fa fa-github-square ; e" size="xl"></i>
            
		    </a>
            </div>
        </div>
        <br>
        <br>
        <hr>
    </div>
    <div class="row">
        <br>
       <div class="col-md-8 ; text-center"> 
           <br>
<img height="80%" width="80%" src="/assets/Selection_018.png">
       </div>
       <div class="col-md-4 ; text-center"> 
           <a href="https://www.indian-e-visa.org" target="_blank">
           <h4 class="text-secondary"> indian-e-visa.org</h4>
           </a>
           <div class="col-md-12 ; text-center ; text-primary" >
               This site was built with angular 4 on the front end with bootstrap. It has automated email functionality to contact customers as well as stripe integration for payments. The main functionality is a form submission for the application of the visa and payment via credit card for the amount corresponding to the user's naitonality. There is also a customer management system i built for administrators with access rights which is is not accessible to users. 
           </div>
    </div>
    </div>
    <br>
    <br>
    <hr>
    <div class="row">
        <br>
        <div class="col-md-8 ; text-center "> 
            <br>
            <img height="50%" width="80%" src="/assets/lit.png">
        </div>
        <div class="col-md-4 ; text-center"> 
            <h4 class="text-secondary"> My cms</h4>
<div class="col-md-12 ; text-center ; text-primary">  
This is a content mangement system i built for myself. It's a basically a way to save data to a db to make up for my bad memory. I've been using a system like this for about a year and it's gone through a few iterations. It was built on angularjs at first but i have since migrated to ngx. I host it on heroku behind some authentication with amazon's s3 service for file and document uploads. I use it to track my lifting progress and a dream journal, my blog is also updated through this. This system also has admin rights to some websites i have built. For obvious reasons i can't provide a link and have blacked out some bits.

</div>

        </div>
    </div>

</div>
