<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <button class="navbar-toggler" (click)="collapse=!collapse" type="button" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" (click)="collapse=true" [hidden]="collapse">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a [routerLink]="['/home']" class="nav-link; navbtn">Home</a>
            </li>

            <li class="nav-item" >
                <a [routerLink]="['/blog']" class="nav-link; navbtn">Blog</a>
            </li>

            <li class="nav-item" >
                <a [routerLink]="['/contact']" class="nav-link; navbtn">Contact</a>
            </li>

            <li class="nav-item" >
                <a [routerLink]="['/stuff']" class="nav-link; navbtn">Stuff</a>
            </li>
        </ul>
    </div>
</nav>
