/* div {margin: 20px;position:absolute;width: 100px;height: 100px;background: #f00;    transition-property: transform;} */

/* div:hover{-webkit-animation: spin 4s infinite linear;} */

/* @-webkit-keyframes spin {0%  {-webkit-transform: rotate(0deg);} */
/*                          100% {-webkit-transform: rotate(360deg);}} */


p {
    width:200px;
    background:lightgray;
    margin: 100px auto;
    text-align:center;
    padding:20px;
    font-size:1.5em;
      
}
/* div { */
/*     width: 100%; */
/*     height: 100%; */

/*     position: absolute; */
/*     top:0; */
/*     bottom: 0; */
/*     left: 0; */
/*     right: 0; */

/*     margin: auto; */

/* } */
 i {
      margin: 0 3px;
      font-size: 280px;
      text-decoration: none;
      }