
    
<div class="container" (click)="next(this.question,template)">
    <div class="col-md-12 ; mx-auto ; h1">
        <!-- <h1>{{question.question}}</h1>     -->
        <div [innerHTML]='question.question' class="text-center">
        </div>
        <hr/>
    </div>
    <div class="container " *ngIf="question.correct_answer">
        <div class="row">
            <div class="col-sm " *ngFor="let i of question['incorrect_answers']">
                
                <div [innerHTML]="i" class="h4">
                </div> 
            </div>

            <div class="col-sm">
                <div [innerHTML]="question['correct_answer']" class="h4">
                </div>
            </div>

        </div>
    </div>
    
            
</div>
<ng-template #template let-d="dismiss"  let-c="close" >
    <div class="modal-body ;text-center; text-primary" (click)="up()">
        <div [innerHTML]="question['correct_answer']" class="text-center">
            
        </div>
        <br/>
        <app-punishment [hide]="true"></app-punishment>
    </div>


</ng-template>

