

    

<!-- <div *ngFor="let r of result | reverse " class="text-center ; e" (click)="openModal(template)" >
     <ng-template #template>
     <div class="modal-header">
     <h4 class="modal-title pull-left"> {{r.name}} </h4>
     <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
     <span aria-hidden="true">&times;</span>
     </button>

     </div>
     <hr>
     <div class="modal-body">
     <div [innerHTML]='r.content'>
     </div>
     </div>
     </ng-template>
     <h2>{{r.name}}</h2>
     <h3>{{r.short_desc}}</h3>
     </div> -->
     
     <tabset [justified]="true">
          <tab heading="Blogs" id="tab1">
          <div class="table-responsive">



          <table class="table">
          <thead>
          <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Date</th>
          
                    <th scope="col">action</th>
          </tr>
          </thead>
          <tbody>


          <tr *ngFor="let d of result | reverse ">
              <ng-template #template>
                  <div class="modal-header">
                      <h4 class="modal-title pull-left"> {{d.name}} </h4>
                      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                          <span aria-hidden="true">&times;</span>
                      </button>

                  </div>
                  <hr>
                  <div class="modal-body">
                      <textarea class="col-md-12" rows="20" style="min-width: 100%"[(ngModel)]=d.content>   
             </textarea>
             <button class="col-md-4 ; pull-right ; btn btn-primary" (click)="updateContent(d)"> Modify </button>
                  </div>
              </ng-template>

          <th scope="row">{{d.name}}</th>
          <td>{{d.short_desc}}</td>
          <td>{{d.created_at}}</td>
          <td>
          
          <button type="button" class="btn btn-primary" (click)="openModal(template)">Modify</button>
          <button type="button" class="btn btn-danger" (click)="delete(r)">Delete </button>
          </td>
          </tr>

          </tbody>
          </table>

          </div>
          </tab>
          <tab heading="New Blog">
          </tab>
          </tabset> 
