<!-- <div class="body">
     
     <div class="container-responsive; mx-auto ; text-center"  [@state]="state" [style.background-color]="bgColor" style="height:100vh ; width:100% ; display:flex ; align-items:center;" (click)="change()">
     <div class="col-md-12">
     
     <app-contact  [question]="resultArrow[count]" *ngIf="show" > </app-contact>
     <app-question  [question]="result[count]" *ngIf="!show"> </app-question>
     </div> 
     
     </div> 


     </div>  -->

{{result | json}}
