.h2 a:hover{
   color:#000000; 
}
.e:hover {
    /* background-color: #f07878; */
      max-width: 100%;
     height: auto;
     background-attachment: fixed; 
  background-image: url('/assets/giphy (2).gif');
    background-size: repeat;  
} 
.e:hover h2{
    color:white;
}
.e:hover h3{
    color:white;
}
.footer {
  text-align: center;
  margin-top: 2px;
  margin-bottom: 0px; }
  footer p:first-child {
    font-size: 20px; }
  footer p {
    color: #ffffff; }
  footer .social-icons {
    margin-top:1px; }
    footer .social-icons a {
      margin: 0 3px;
      font-size: 28px;
      text-decoration: none;
      color: #cccccc; }
      footer .social-icons a:hover {
        color: #ffffff; }

/* div { */
/*     width: 100%; */
/*     height: 100px; */

/*     position: absolute; */
/*     top:0; */
/*     bottom: 0; */
/*     left: 0; */
/*     right: 0; */

/*     margin: auto; */

/* } */