a { text-decoration: none; margin: 0 10px; }
body, html {
  
  margin : 0;
  padding: 0; }

  
  
  @keyframes animatedBackground {
      from { background-position:100px 280px; }
      to { background-position: -10000px 280px; }
      
    }
    @-webkit-keyframes backgroundScroll {
    from {background-position: 100px 280px;}
    to {background-position: -10000px 280px;}
    }
  body {

     
   
    /* background-color     : rgb(0, 0, 0); */
    /* background-attachment: fixed; */
     font-family          : 'PT Sans', sans-serif;
    /* background-position  : 100px 280px; */
    /* background-repeat    : repeat-x; */
    /* background-image     : url("/assets/giffy.gif"); */
    /* animation            : animatedBackground 400s linear infinite; */
     max-width: 100%;
     height: auto;
   /* background-image: url("/assets/giffy.gif") no-repeat center center fixed; */
   /*    background-size: cover; */
   /*        background-size:100%; */
   /*  background-repeat: repeat-y; */
     background-attachment: fixed; 
   /*  height:100%; */
   /*  width:100%; */
  background-image: url('/assets/giphy (5).gif');
    background-size: cover;  
    height: 60%;
  }
  bob{
      background: url("/assets/giffy (1).gif") no-repeat center center fixed; 
      background-size: cover;
  }

  img {
    border-radius: 100%;
    border       : 1px solid #000000;
    margin       : 0;
    padding      : 0;
    max-width: 100%;
    height: auto;
   
  }