
<div class="container"  >
    <div class=" text-center">
        <div class="col-md-4; mx-auto">
            
            <img class="avatar" alt="avatar" src="/assets/orange.gif"/>    
        </div>            

        <br/> 
    </div>
<div class="col-md-8 ; text-center ; mx-auto">
    <button (click)="play()" type="button"  class="btn btn-outline-primary btn-lg btn-block">Lets go</button>	
   <br/>
    <br/>
    <!-- <button type="button" class="btn btn-outline-secondary btn-lg btn-block">Set up</button> -->
</div> 
</div>
<div class="footer">
    
    <app-footer></app-footer>
</div>
