a { text-decoration: none; margin: 0 10px; }
body, html {
  
  margin : 0;
  padding: 0; }

  
  
  @keyframes animatedBackground {
      from { background-position:100px 280px; }
      to { background-position: -10000px 280px; }
      
    }
    @-webkit-keyframes backgroundScroll {
    from {background-position: 100px 280px;}
    to {background-position: -10000px 280px;}
    }
   .social-icons {
    margin-top:1px; }
   
   .social-icons a {
      margin:5 3px;
      font-size: 58px;
      text-decoration: none;
      color: #cccccc; }
   .social-icons a:hover {
        color: #f07878; }

    body {

   
        font-family          : 'PT Sans', sans-serif;
     max-width: 100%;
     height: auto;
     background-attachment: fixed; 
  background-image: url('/assets/giphy (5).gif');
    background-size: cover;  
  }
    .avatar {
        vertical-align: middle;
        width: 50%;

        height: 100%;
        border-radius: 50%;

    }
    .logo{
        width: 100%;

        height: 100%;
        border-radius: 100%;     vertical-align:middle;

    }