<main role="main">

    <br>
    <br>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, I'm Hadi!</h1>
            <p>I am a fullstack developer based in Singapore who enjoys building and breaking things. I am very passionate about everything free and open source. I also enjoy working with and learning from other developers so don't hesitate to hit me up.</p>
            <div class="social-icons ; text-center">
		            
		            <a href="https://www.instagram.com" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
		            <a href="https://github.com/rickithadi" target="_blank">
			              <i class="fa fa-github-square" size="xl"></i>
		            </a>
		            <a href="https://linkedin.com/in/hadi-rickit" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://stackoverflow.com/users/9112459/hadi-rickit" target="_black">
                    <i class="fa fa-stack-overflow"></i>
                </a>
                <a href="https://steamcommunity.com/profiles/76561198219140409/" target="_black">
                    <i class="fa fa-steam-square"></i>
                </a>

		            
	          </div>


        </div>
    </div>
</main>
   
    <body style="height:100%">
        
 <div class="container ; text-center">
     <br>
     <div class="col-md-4 mx-auto" style="height:200px">
 <img src="/assets/eigencat.gif" alt="avatar" class="avatar">
     </div>
 </div>
 <div class="col-md-6 mx-auto">
     <br>
     <br>
     <h5 style="color:gray">I have been building websites mainly on the mean stack for the past three years. I am very to open to collaboration, shoot me an email if you have an interesting idea. In my free time I enjoy putting together systems ,playing absolutely proprietary games and collecting dank memes. Most of my development is done in emacs and I usually run some flavour of linux on my systems. I am gradually moving away from nonfree software but that's easier said than done. </h5>
 </div>
<br>
<br>
 <br> 
 <h1 class="text-center" style="color:white">Tech I use</h1>
 <br>
 <br>
 <br>
 <div class="container" >

        <div class="row">
            <div class="col-md-3 ; text-center">
                <h2 style="color:white">Frontend</h2>
                <div class="mx-auto">
                    <br>
                    <a href="https://angularjs.org" target="_blank">

                        <img width="80px" src="/assets/angular-icon.svg"  >
                    </a>
                    <br>
                    <br>
                    <a href="https://angularjs.org" target="_blank">

                        <img width="80px" src="/assets/angular-icon-1.svg"  >
                    </a>
                    <br>
                    <br>
                    <a href="https://getbootstrap.com" target="_blank">

                        <img width="80px" src="/assets/bootstrap-icon.svg"  >
                    </a>
                    <br>
                    <br>
                    <a href="https://www.w3.org/Style/CSS/" target="_blank">

                        <img width="80px" src="/assets/css3.svg"  >
                    </a>
                    <br>
                    <br>
                    <a href="https://www.materialui.co/" target="_blank">

                        <img width="80px" src="/assets/material-ui.svg"  >
                    </a>
                    <br>
                    <br>
                    <a href="https://www.w3.org/html/" target="_blank">

                        <img width="80px" src="/assets/html5.svg"  >
                    </a>                    
                 
                </div>
            </div>
            <div class="col-md-3 ; text-center">
                <h2 style="color:white">Backend/DB</h2>
                <br>
                <a href="https://en.wikipedia.org/wiki/Microsoft_SQL_Server" target="_blank">


                    <img width="120px" height="100px" src="/assets/microsoft-sql-server.svg"  >
                </a>
                    <br> 
                    <br>
                    <a href="https://www.mongodb.com" target="_blank">

                        
                        <img height="80px" width="180px" src="/assets/mongodb.svg"  >
                    </a>

                        <br> 
                       <a href="https://www.mlab.com" target="_blank">

                            <br>
                <img width="180px" src="/assets/mongolab.svg"  >
                        </a>

                <br> 
                <br>
                <a href="https://www.mysql.com" target="_blank">


                    <img width="150px" src="/assets/mysql.svg"  >
                </a>
                <br> 
                <br>
                <a href="https://www.nodejs.org" target="_blank">


                    <img width="130px" src="/assets/nodejs-1.svg"  >
                </a>
                <br> 
                <br>
                <a href="https://www.npmjs.com/package/node-sass" target="_blank">


                    <img width="130px" height="80px" src="/assets/node-sass.svg"  >
                </a>                

            </div>
            <div class="col-md-3; text-center">
                <h2 style="color:white">Other useful stuff/languages</h2>
                <br>
                <a href="https://www.linuxfoundation.org" target="_blank">


                    <img width="120px" height="100px" src="/assets/linux-tux.svg"  >
                </a>
                <a href="https://www.gnu.org/software/emacs/" target="_blank">
                    
                    <img height="120px" width="100px" src="/assets/emacs-1.svg"  >
                    </a>

                    <br> 
                    <br>
                    <a href="https://www.typescriptlang.org/" target="_blank">


                        <img  width="120px" height="100px" src="/assets/typescript.svg"  >
                    </a>
                    <a href="https://www.javascript.com" target="_blank">


                        <img width="120px" height="100px" src="/assets/logo-javascript.svg"  >
                    </a>
                    <br> 
                    <br>
                    <a href="https://www.vim.org" target="_blank">


                        <img width="120px" height="100px" src="/assets/vim.svg"  >
                    </a>
                    <a href="https://www.latex-project.org" target="_blank">


                        <img width="120px" height="100px" src="/assets/latex.svg"  >
                    </a>
                    <br>
                    <br>
                    <a href="https://www.java.com" target="_blank">


                        <img width="120px" height="100px" src="/assets/java.svg"  >
                    </a>                
                    <a href="https://www.heroku.com" target="_blank">


                        <img height="120px" width="100px" src="/assets/heroku-1.svg"  >
                    </a>
                    <br> 
                    <br>
                    <a href="https://isocpp.org/" target="_blank">


                        <img  width="120px" height="100px" src="/assets/c.svg"  >
                    </a>
                    <a href="https://www.gnu.org/software/bash/" target="_blank">


                        <img width="120px" height="100px" src="/assets/bash-1.svg"  >
                    </a>
                    <br> 
                    <br>
                    <a href="aws.amazon.com" target="_blank">


                        <img width="120px" height="100px" src="/assets/aws-logo.svg"  >
                    </a>
                    <a href="https://www.apache.org" target="_blank">


                <img width="120px" height="100px" src="/assets/apache-13.svg"  >
                    </a>
            </div>
        </div>

        <hr>

    </div>
</body>

