<main role="main">

    <br>
    <br>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, I'm Hadi!</h1>
            <p>I am a fullstack developer based in Singapore who enjoys building and breaking things. I am very passionate about everything free and open source. I also enjoy working with and learning from other developers so don't hesitate to hit me up.</p>
            <div class="social-icons ; text-center">
		            
		            <a href="https://www.instagram.com" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
		            <a href="https://github.com/rickithadi" target="_blank">
			              <i class="fa fa-github-square" size="xl"></i>
		            </a>
		            <a href="https://linkedin.com/in/hadi-rickit" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://stackoverflow.com/users/9112459/hadi-rickit" target="_black">
                    <i class="fa fa-stack-overflow"></i>
                </a>
                <a href="https://steamcommunity.com/profiles/76561198219140409/" target="_black">
                    <i class="fa fa-steam-square"></i>
                </a>

		            
	          </div>


        </div>
    </div>
</main>
   
    <body style="height:1500px">
 <div class="container ; text-center">
     <br>
     <div class="col-md-4 mx-auto" style="height:200px">
 <img src="/assets/frisky.jpg" alt="avatar" class="avatar">
     </div>
 </div>
 <div class="col-md-6 mx-auto">
     <br>
    <h5 style="color:white">I have been building websites mainly on the mean stack for the past three years. I am very to open to collaboration, shoot me an email if you have an interesting idea. In my free time I enjoy putting together systems ,playing absolutely proprietry games and collecting dank memes. Most of my development is done in emacs and I usually run some flavour of linux on my systems. I am gradually moving away from nonfree software but that's easier said than done. </h5>
 </div>

 <h2 class="text-center" style="color:blue"> Fairly proficient in these technologies</h2>
 <div class="container" style="height:120 px">

        <div class="row">
            <div class="col-md-4">
                <h2 style="color:white">Heading</h2>
                <p style="color:white">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
        </div>

        <hr>

    </div>
</body>

