

<div class="container">
    <br/>
    <br/>
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="btn-group btn-group-lg ; col-md-4; mx-auto" >
            <label class="btn btn-info" [(ngModel)]="radioModel"
                   btnRadio="Left" tabindex="0" role="button" (click)="level1()"
            >Chill</label>
            <label class="btn btn-info" [(ngModel)]="radioModel"
                   btnRadio="Middle" tabindex="0" role="button" (click)="level2()
                          "> Casual</label>
             
            <label class="btn btn-info" [(ngModel)]="radioModel"
                   btnRadio="Right" tabindex="0" role="button" (click)="level3()">
                   Lit</label>
        </div>

        <div class="col-sm">
        </div>
    </div>
        <br/>
        <label class="text-secondary" >Select categories</label>
        <form [formGroup]="myForm">
            <ng-multiselect-dropdown
                name="city"
                [placeholder]="'Select Categories'"
                [data]="ddList"
                formControlName="city"
                [disabled]="disabled"
                [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)">
            </ng-multiselect-dropdown>
               </form>
    </div>
    <br/>
    <br/>
    <div class="container">
        
    <ng5-slider [(value)]="value" [options]="options"></ng5-slider>
    <br/>
    <br/>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">Change my view </label>
        </div>
    <button class="btn btn-info pull-right" (click)="continue()">Continue</button>
</div>
