

<div class="container">
    <br/>
    <br/>
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="btn-group btn-group-lg ; col-md-4; mx-auto" >
            <label class="btn btn-primary" [(ngModel)]="radioModel"
                   btnRadio="Left" tabindex="0" role="button" (click)="level1()">Chill</label>
            <label class="btn btn-primary" [(ngModel)]="radioModel"
                   btnRadio="Middle" tabindex="0" role="button" (click)="level2()">Mild</label>
            <label class="btn btn-primary" [(ngModel)]="radioModel"
                   btnRadio="Right" tabindex="0" role="button" (click)="level3()">Lit</label>
        </div>

        <div class="col-sm">
        </div>
    </div>
        <br/>
        <label class="text-secondary" >Select categories</label>
        <form [formGroup]="myForm">
            <ng-multiselect-dropdown
                name="city"
                [placeholder]="'Select Categories'"
                [data]="ddList"
                formControlName="city"
                [disabled]="disabled"
                [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)">
            </ng-multiselect-dropdown>
               </form>
    </div>
