

<div class="container">
    <br/>
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="btn-group btn-group-lg ; col-md-4; mx-auto" >
            <label class="btn btn-info" [(ngModel)]="radioModel"
                   btnRadio="Left" tabindex="0" role="button" (click)="level1()"
            >Chill</label>
            <label class="btn btn-info" [(ngModel)]="radioModel"
                   btnRadio="Middle" tabindex="0" role="button" (click)="level2()
                          "> Casual</label>
             
            <label class="btn btn-info" [(ngModel)]="radioModel"
                   btnRadio="Right" tabindex="0" role="button" (click)="level3()">
                   Lit</label>
        </div>

        <div class="col-sm">
        </div>
    </div>
 <div class="row">
                   
                   <div class="custom-control custom-checkbox ; col-sm-4">
                       <input type="checkbox" [(ngModel)]="cmvModel"
class="custom-control-input ; checkbox-inline" id="customCheck1" [value]="cmv">
                       <label class="custom-control-label ; text-secondary" for="customCheck1">Change my view </label>
                   </div>
                   <div class="custom-control custom-checkbox ; col-sm-4 " >

                       <input type="checkbox" class="custom-control-input ; checkbox-inline" [(ngModel)]="unpopModel" [value]=true id="customCheck2">
                       <label class="custom-control-label ;; text-secondary" for="customCheck2">Unpopular opinions </label>
                   </div>

                   <div class="custom-control custom-checkbox ; col-sm-4 "> 

                       <input type="checkbox" class="custom-control-input ; checkbox-inline" [(ngModel)]="askRModel" [value]="ask" id="customCheck3">
                       <label class="custom-control-label ; text-secondary" for="customCheck3"> Ask reddit </label>
                   </div>

               </div>
               <br/>
        <label class="text-secondary" >Select categories</label>
        <form [formGroup]="myForm">
            <ng-multiselect-dropdown
                name="city"
                [placeholder]="'Select Categories'"
                [data]="ddList"
                formControlName="city"
                [disabled]="disabled"
                [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)">
            </ng-multiselect-dropdown>
               </form>

    </div>
    <br/>
 
    <div class="container">
        <label class=text-secondary>How much can you drink?</label> 
    <ng5-slider [(value)]="value" [options]="options"></ng5-slider>
    <br/>
    <br/>
      <button class="btn btn-info pull-right" (click)="continue()">Continue</button>
</div>
